/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #74b9ff;
}

.lead {
  font-size: 20px;
}

.btn {
  background: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 13px 20px;
}

.btn:hover {
  background: #74b9ff;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #74b9ff;
  color: #333;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
}

/* Padding */
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

/* Navbar */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar .logo {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #74b9ff;
}

/* Showcase */
#showcase {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  padding-top: 170px;
  text-align: center;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  line-height: 1.7em;
  padding-bottom: 20px;
}

/* Home Info */
#home-info {
  height: 400px;
}

#home-info .info-img {
  background: url('../img/photo-1.jpg') no-repeat;
  float: left;
  min-height: 100%;
  width: 50%;
}

#home-info .info-content {
  float: right;
  height: 100%;
  overflow: hidden;
  padding: 50px 30px;
  text-align: center;
  width: 50%;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features */
.box {
  float: left;
  padding: 50px;
  text-align: center;
  width: 33.3%;
}

.box i {
  margin-bottom: 10px;
}

/* About Info */
#about-info .info-right {
  float: right;
  min-height: 100%;
  width: 50%;
}

#about-info .info-right img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 70%;
}

#about-info .info-left {
  float: left;
  min-height: 100%;
  width: 50%;
}

/* Testimonials */
#testimonials {
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  height: 600px;
  padding-top: 100px;
}

#testimonials h2 {
  color: #fff;
  padding-bottom: 40px;
  text-align: center;
}

#testimonials .testimonial {
  border-radius: 5px;
  margin-bottom: 40px;
  opacity: 0.9;
  padding: 20px;
}

#testimonials .testimonial img {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  width: 100px;
}

/* Contact Form */
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  border: 1px #ddd solid;
  padding: 10px;
  width: 100%;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #74b9ff;
}

/* Footer */
#main-footer {
  background: #444;
  color: #fff;
  padding: 20px;
  text-align: center;
}
